@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
  margin: 0;
  font-family: 'Didact Gothic';
  background-color: rgb(199, 198, 198);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --color-page: purple
}

