.banned {
    font-size: 18px;
    color: red;
}
.Desbanned{
    font-size: 18px;
    color: green;
}


.DesAdmin{
    font-size: 18px;
    color: rgb(59, 59, 202);
}


.Setadmin{
    font-size: 18px;
    color: rgb(39, 117, 39);
}

.llave { 
    font-size: 18px;
}

.btnIcons{ 
    border: none;
    background-color: white;
}

.Contenedor {
    width: 100%;
    display: flex;
}

.ContenedorImg { 
    width: 300px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenedorImg img { 
    width: 90%;
    height: 250px;
    border-radius: 15%;
    padding: 10px;
}

.ContenedorData {
    width: 75%;
    padding: 10px;
}


.verde {
    color: green;
    font-size: 13px;
}

.rojo {
    color: red;
    font-size: 13px;
}
