@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Great+Vibes&family=Parisienne&display=swap');


.contenedor_card{
    margin: 0;
    /* box-shadow: 10px 10px 18px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 18px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 18px -14px rgba(0,0,0,0.75); */
    background-color: #fff;
    margin-left: 3%;
    padding-left: 20px;
    padding-right: 40px; 
    border-radius: 15px;
    display: grid;
    grid-template-areas: "img img img"
                        "precio precio precio"
                        "nombre nombre nombre"
                        "buttons compra compra";
    grid-template-columns: 55px;
    grid-template-rows: 70%, 20px, 20px, 30%;
    width: 300px;
    height: 400px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 5%;
    position: relative;
    gap: 0;
}

.contenedor_card:hover img{
    transform: scale(1.2);
}

.Imagen{
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-bottom: blue;
}

.card_p_nombre{
    grid-area: nombre;
    margin-left: 4%;
    margin-right: 2%;
    font-size: 16px;
    margin-top: -1rem;
    text-align: justify;
}

.contenedor_card  img{
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 1s; 
}

.LinkImage {
    display: flex;
    justify-content: center;
    width: 80%;
    grid-area: img;
    margin-top: 20%;
    margin-left: 10%;
}


.card_p_cantidad{
    margin-left: 1vw;
    margin-right: 1vw;
    
}

.card_strong_precio{
    font-size: 18px;
    grid-area: precio;
    margin-right: 60%;
    margin-top: -2rem;
}
.card_contenedor_buttons{
    grid-area: buttons;
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
}

.Sumar, .Restar{
border-radius: 50%;
width: 4vw;
height: 6.5vh;
border: none;
background-color: inherit;
font-size: 1.8vh;
}
.Sumar:hover, .Restar:hover{
    background-color: #e7b8ff;
    border: 1px solid #e7b8ff;
}

.card_button_comprar{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border: none;
    grid-area: compra;
    margin-top: 0;
    margin-left: 30%;
    margin-bottom: 10%;
}

.card_button_comprar:hover{
    background-color: #e7b8ff;
    color: rgb(53, 0, 53);
}


.ButtonC{
    width: 60px;
    height: 50px;
    margin-left: 160px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    margin-top: -2rem;
}

.ContainerSumRest{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 20px;
}
.ContainerSumRestResponsive{
    display: none;
}
.addToCartDiv{
    position: absolute;
    margin: 378px 20px 20px 75px;
}


@media screen and (max-width: 650px){
    .contenedor_card{
        width: 10rem;
        height:17rem;
        margin: 0;
        padding: 0;
    }
    .LinkImage {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .card_p_nombre {
        padding: 5px;
    }
    .card_strong_precio{
        margin: 0;
        padding-left: .5rem;
    }
    .ButtonCart {
        display: none;
    }
    .addToCartDiv{
        transform: scale(.7);
        position: absolute;
        margin-top: 25px;
        margin-left: -13px;
    }
    .ContainerSumRest{
        display: none;
    }
    .ContainerSumRestResponsive{
        display: flex;
        margin-left: 14px;
        margin-top: 24px;
        gap: 25px;
    }
    .buttonRes{
        border: none;
        width: 30px;
        height: 30px;
        border-radius: 10px;
    }
    .pResponsive {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px){
    .contenedor_card{
        width: 9rem;
        height:17rem;
        margin: 0;
        padding: 0;
    }
   
    }