
.ContainerAll { 
    background-color: rgba(255, 255, 255, 0.945);
    margin-top: 30px;
    width: 490px;
    height: 450px;
    padding: 25px;
    margin: 15px;
    box-shadow: 15px 15px 8px rgba(155, 147, 147, 0.75);
    margin-top: 100px;
    border-radius: 8px;

}

.ContainerAllForm { 
    display: flex;
    justify-content: center;
}
.here { 
    color:  rgb(0, 96, 151);
    border: none;
    background-color: white;
}

.register { 
    color: black;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.name {
    width: 200px;
}
.hola { 
    display: flex;
    justify-content: space-between;
}

.lastname { 
    width: 200px;
}

.btnR{ 
    color: white;
    font-size: 23px;
    background-color: gray;
    width: 440px;
    height: 45px;
    margin-top: 15px;
    border: none;
  
}
.btnR:hover { 
    background-color: rgb(102, 99, 99);
}

.pack {
    margin-bottom: 15px;
}

.containerBtn { 
    display: flex;
    justify-content: center;
}

.down {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 19px;
}

.icon { 
    margin-right: 5px;
    margin-bottom: 7px;
    font-size: 25px;
}

.inputs:focus {
    border-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);

}

.warning {
    border: solid red 1px;
    border-radius: 0.2em;
    
  }
  
  .spanError {
    font-size: 12px;
    position: absolute;
    color: red;
    margin-top: 2px;
    margin-bottom:15px ;
  }

.msgerr { 
    font-size: 15px;
    color: red;
    margin-left: 133px;
}

#signInDiv {
    color: white;
    font-size: 23px;
    background-color: gray;
    width: 440px;
    height: 45px;
    margin-top: 15px;
    border: none;
}

@media (max-width: 500px) {
    .ContainerAll {
      width: 80%;
    }
  }