/* .SearchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.swal-overlay--show-modal {
    opacity: 1;
    pointer-events: auto;
}

.SubmitBuscar {
    width: 60px;
    height: 35px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
}

.InputBuscar {
    width: 350px;
    min-width: 250px;
    height: 40px;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 21px;
}

.SubmitBuscar {
    width: 80px;
    height: 40px;
    padding-top: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(26, 160, 194);
    color: white;
    user-select: none;
}

.icon {
    font-size: 25px;
    margin-bottom: 5px;
}
 */

 .SearchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.swal-overlay--show-modal {
    opacity: 1;
    pointer-events: auto;
}

.SubmitBuscar {
    width: 60px;
    height: 35px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
}

.InputBuscar {
    width: 350px;
    min-width: 250px;
    height: 40px;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-size: 21px;
}

.SubmitBuscar {
    width: 80px;
    height: 40px;
    padding-top: 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(26, 160, 194);
    color: white;
    user-select: none;
}

.icon {
    font-size: 25px;
    margin-bottom: 5px;
}

